/* fonts */

@font-face {
    font-family: "MDL2";
    src: url("/fonts/mdl2.woff2")format("woff2");
}

@font-face {
    font-family: "slboot";
    src: url("/fonts/slboot.woff2")format("woff2");
}

@font-face {
    font-family: "msyhl";
    src: url("/fonts/msyhl.woff2")format("woff2");
}

/* scroll */

::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.2);
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #0004;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0006;
}

::-webkit-scrollbar-thumb:active {
    background-color: #0008;
}


/* lenis */

html.lenis, html.lenis body {
    height: auto;
}
   
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

#particles-js {
	width: 100%;
	height: 100%
}
