/* fonts */
@font-face {
    font-family: "MDL2";
    src: url("/fonts/mdl2.woff2")format("woff2");
}

@font-face {
    font-family: "slboot";
    src: url("/fonts/slboot.woff2")format("woff2");
}

@font-face {
    font-family: "msyhl";
    src: url("/fonts/msyhl.woff2")format("woff2");
}


:root {
  --bg-color: #fffade;
  --fg-color: #d7d2b4;
  --div-color: #f5f5dc;
  --text-color: #000;
  --div-shadow: 0 0px 10px #555;
}


/* scroll */
::-webkit-scrollbar {
    background-color: var(--fg-color);
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #0004;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0006;
}

::-webkit-scrollbar-thumb:active {
    background-color: #0008;
}


/* selection */
::selection {
    color: #fff;
    background-color: #aca680;
}


/* lenis */
html.lenis, html.lenis body {
    height: auto;
}
   
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}


/* -------------------- General Styles -------------------- */
* {
  word-wrap: break-word;
  box-sizing: border-box;
  font-family: 'slboot', 'MDL2', 'msyhl';
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.main {
  padding-top: 50px;
  flex: 1;
}


/* load screen */
#load {
    position: fixed;
    background-color: var(--bg-color);
    transition: opacity 0.5s ease;
    opacity: 1;
    pointer-events: none;
    z-index: 999;
}

#load.hidden {
    opacity: 0;
    pointer-events: none;
}


/* navbar */
.navbar {
  position: relative;
  top: -60px;
  height: 50px;
  background-color: var(--fg-color);
  box-shadow: var(--div-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  transition: top 0.6s cubic-bezier(0.2, 0.6, 0.4, 1);
}

.navbar.show {
  top: 0;
}

.mobile-navbar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 250px;
  height: 100vh;
  background-color: var(--fg-color);
  box-shadow: var(--div-shadow);
  transition: left 0.5s cubic-bezier(0.2, 0.6, 0.4, 1);
  overflow-y: auto;
  z-index: 1;
}

.mobile-navbar.show {
    left: 0;
}

.navbar_link,
.mobile-navbar_link {
  display: flex;
  align-items: center;
  user-select: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-navbar_link {
  flex-direction: column;
  padding-top: 64px;
  width: 100%;
}

.navbar_link p,
.mobile-navbar_link p {
  margin: 0;
  color: #000;
  transition: color 300ms ease, text-shadow 300ms ease, background-color 300ms ease;
}

.navbar_link p:hover,
.mobile-navbar_link p:hover {
  color: #fff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.navbar_link p {
  padding: 8px 15px;
}

.mobile-navbar_link p {
  padding: 16px 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.mobile-navbar_link p:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar_link span,
.mobile-navbar_link span {
  vertical-align: middle;
  line-height: 1;
}

.navbar_link p#menu {
  display: none;
}

.navbar_logo {
  min-width: 162px;
  height: 48px;
  margin-right: 15px;
  padding: 0 10px;
  background: url('/imgs/navtitle.jpg') center/cover no-repeat;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-5deg);
  transition: transform 1s ease;
}

.navbar_logo span {
  font-size: 26px;
  transition: opacity 0.3s ease;
}

.navbar_logo:hover {
  transform: rotate(5deg);
}

.navbar_button {
  width: 42px;
  height: 42px;
  margin: 2px 2px 0 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms ease;
  outline: none;
}

.navbar_button span {
  margin-top: 2px;
  font-size: 18px;
  color: #000;
  transition: color 300ms ease, text-shadow 300ms ease;
}

.navbar_button:hover span {
  color: #fff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.navbar_button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar_button:active {
  transition: background-color 100ms ease;
  background-color: rgba(0, 0, 0, 0.4);
}


.dropdown {
  position: absolute;
  top: 90%;
  margin-left: 10px;
  padding: 10px 0;
  width: 140px;
  background-color: var(--div-color);
  box-shadow: var(--div-shadow);
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease, visibility 200ms ease, transform 200ms ease;
}

.mobile-navbar .dropdown {
  margin-left: 0;
  width: 100%;
}

.dropdown::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 4px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent var(--div-color) transparent;
  z-index: -1;
}

.mobile-navbar .dropdown::after {
  left: 50%;
}

.dropdown_trigger {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.mobile-navbar .dropdown_trigger {
  width: 100%;
}

.dropdown_link {
  display: flex;
  flex-direction: column;
}

.dropdown_link p {
  padding: 14px 14px;
}

.mobile-navbar .dropdown_link p {
  padding: 16px 0;
}

.dropdown_link p:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}

p#other::after {
  content: "\e011";
  position: relative;
  display: inline-flex;
  font-size: 10px;
  margin-left: 4px;
  transition: transform 0.3s ease;
}

p#other:hover::after {
  transform: rotate(180deg) translateY(2px);
}

.dropdown_trigger:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(4px);
}


/* Footer */
.footer {
    position: relative;
    height: 50px;
    bottom: 0;
    width: 100%;
    box-shadow: var(--div-shadow);
    background-color: var(--fg-color);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer span {    
    vertical-align: -3px;
}

.footer span a {
    color: #808080;
    text-decoration: none;
    margin: 0 5px;
}

@media (max-width: 800px) {
    .navbar_link p {
        display: none;
    }

    .mobile-navbar {
        display: block;
    }

    .navbar_link p#menu {
        display: block;
    }
}
